/* https://coolors.cocolor(primary)-434371-a9def9color(accent)-b5f44a */
@import 'mixins';
@import 'functions';

/* --------------------------Navigation menu-------------------------------*/

nav {
    @include flexAroundCenter;
    min-height: 8vh;
    background: rgba(31, 64, 104, 0.5);
    //make background completely transparent
    // background: rgba(31, 64, 104, 0);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;

    

    li {
        padding: 0px 20px;
    }
}

.logo {
    cursor: pointer;
    padding: 10px 0;
}

.nav-links {
    @include flexAroundCenter;
    width: 40%;

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 2px;
        color: white;


    }

    li {
        list-style: none;

        &:not(:last-child) {

            & a:hover {
                color: color(accent);
            }
        }


    }

}

.mobile-nav {
    display: none;

    div {
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 5px;
        transition: all 0.5s ease;
    }
}


.btn-resume {
    padding: 6px 10px;
    border-radius: 8px;
    border-color: color(accent);
    border-width: medium;
    border-style: solid;

    &:hover {
        background: color(accent);
        color: color(primary);
        transition: all .5s ease;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: color(primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        li {
            opacity: 0;
        }
    }

    .mobile-nav {
        display: block;
        cursor: pointer;
    }
}

.nav-menu-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-menu-toggle .line-1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-menu-toggle .line-2 {
    opacity: 0;
}

.nav-menu-toggle .line-3 {
    transform: rotate(45deg) translate(-6px, -7px);
}



/* --------------------------Landing section--------------------------------*/

* {
    margin: 0px;
    padding: 0px;
}

@import 'stars';

// .stars{
//     position: absolute;
// }
.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: radial-gradient(ellipse at bottom, color(primary) 5%, color(secondary) 100%);
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#title {
    @include flexAroundCenter;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
}


#stars-layer-1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animateStar 50s linear infinite;
    @include stars1;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 1px;
        height: 1px;
        background: transparent;
        @include stars1_after;
    }
}

#stars-layer-2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animateStar 100s linear infinite;
    @include stars2;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 2px;
        height: 2px;
        background: transparent;
        @include stars2_after;
    }
}

#stars-layer-3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animateStar 150s linear infinite;
    @include stars3;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 3px;
        height: 3px;
        background: transparent;
        @include stars3_after;
    }
}

@keyframes animateStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(1000px);
    }
}

/* --------------------------About Me section--------------------------------*/

.title-section {
    height: 100vh;
}

.about-section {
    height: 100vh;
    margin-top: 100px;
    padding: 0 350px;
    font-family: 'Raleway';
    color: white; 


    h1 {
        font-size: 10rem;
        z-index: 0;
        opacity: 0.8;
        margin-bottom: 25px;
    }

    img {
        width: 300px;
        position: relative;
        top: -300px;
        left: calc(100% - 100px);
        right: calc(100% - 100px);
        transform: translateX(calc(-100% + 100px));

    }
}

.about-info {
    max-width: 550px;
    background-color: color(primary);
    box-shadow: 0 0 1.2rem rgba(0,0,0,0.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;

    p {
        font-size: 1.3rem;
         
        
        &:not(:first-child){
            margin-top: 30px;
        }
    }


}



// .about-section  {
//     height: 50vh;
//     text-align: center;
//     font-family: 'Raleway';
//     color: color(primary-light);
//     display: grid;
//     grid-template-columns: 1fr 3fr 3fr 1fr;
//     grid-template-rows: 1fr 3fr 1fr;
//     align-items: center;
//     justify-items: center;

//     span {
//         font-size: 3rem;
//         font-weight: 800;
        
//     }

//     img {
//         height: 25rem;
//         width: 27rem;
//     }

//     .about-me {
//         grid-column: 2/3;
//         grid-row: 2/3;
        
//     }

//     .img-profile {
//         grid-column: 3/4;
//         grid-row: 2/3;
//     }
// }



// .about-section {
//     height: 100vh;
//     h1{
//         font-family: 'Raleway';
//         color: white;
//         font-weight: 800;
//         font-size: 2rem;
//         margin-bottom: 0.5rem;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;

//     }
// }

// .about-container {
//     width: 50%;
//     height: 350px;
//     background-color: color(secondary);
//     border-radius: 20px;
//     box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
//     display: flex;
//     margin:  0px auto;
//     position: relative;
//     justify-content: space-evenly;
//     align-items: center;
//     color: white;
//     overflow: hidden;

//     img {
//         height: 250px;
//     }

//     .about-text {
//         width: 80%;
//         font-family: 'Raleway';
        
        

//         p {
//             font-size: 1.25rem;
          
//         }
//     }
// }



.projects-section{
  display: none;
}


