/* https://coolors.cocolor(primary)-434371-a9def9color(accent-gradient)-b5f44a */
@import 'mixins';
@import 'functions';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

/* --------------------------Navigation menu-------------------------------*/
.root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

nav {
    @include flexAroundCenter;
    min-height: 8vh;
    // background: rgba(31, 64, 104, 0.1);
    //make background completely transparent
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: background-color 0.5s ease;


    li {
        padding: 0px 20px;
    }
}

.logo {
    cursor: pointer;
    padding: 10px 0;
}

.nav-links {
    @include flexAroundCenter;
    width: 40%;

    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 2px;
        color: white;


    }

    li {
        list-style: none;

        &:not(:last-child) {

            & a:hover {
                color: color(accent-gradient);
            }
        }


    }

}

.mobile-nav {
    display: none;

    div {
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 5px;
        transition: all 0.5s ease;
    }
}


.btn-resume {
    padding: 6px 10px;
    border-radius: 8px;
    border-color: color(accent-gradient);
    border-width: medium;
    border-style: solid;

    &:hover {
        background: color(accent-gradient);
        color: color(primary);
        transition: all .5s ease;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: color(primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

        li {
            opacity: 0;
        }
    }

    .mobile-nav {
        display: block;
        cursor: pointer;
    }
}

.nav-menu-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-menu-toggle .line-1 {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-menu-toggle .line-2 {
    opacity: 0;
}

.nav-menu-toggle .line-3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.scrolling-active {
    background-color: color(primary);
    box-shadow: 0 3px 1rem rgba(192, 192, 192, 0.1);
    min-height: 7vh;

    img {
        width: 55px;
    }


}










/* --------------------------Landing section--------------------------------*/

* {
    margin: 0px;
    padding: 0px;
}

@import 'stars';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: radial-gradient(ellipse at bottom, color(primary) 5%, color(secondary) 100%);
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#title {
    @include flexAroundCenter;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
}


#stars-layer-1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animateStar 50s linear infinite;
    @include stars1;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 1px;
        height: 1px;
        background: transparent;
        @include stars1_after;
    }
}

#stars-layer-2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animateStar 100s linear infinite;
    @include stars2;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 2px;
        height: 2px;
        background: transparent;
        @include stars2_after;
    }
}

#stars-layer-3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animateStar 150s linear infinite;
    @include stars3;

    &:after {
        content: '';
        position: absolute;
        top: -1000px;
        width: 3px;
        height: 3px;
        background: transparent;
        @include stars3_after;
    }
}

@keyframes animateStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(1000px);
    }
}

/* --------------------------About Me section--------------------------------*/

.title-section {
    height: 100vh;
}

#title {
    font-size: 3rem;
}


#about {
    margin: 0px auto;
    padding: 150px 0;
    max-width: 1000px;
    position: relative;
    color: white;

    h3 {
        display: flex;
        align-items: center;
        -moz-box-align: center;
        width: 100%;
        font-size: 32px;
        position: relative;
        padding: 20px;
    }
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-box-align: center;
    -moz-box-pack: center;
}


.about-content {
    font-family: 'Poppins';
    font-size: 1rem;
    padding: 30px 60px 30px 30px;
    background: color(primary);
    border-radius: 15px;


}

.about-img {
    margin: 0 50px 0 auto;
    position: relative;
    width: 100%;
    max-width: 350px;


    img {
        width: 100%;
        height: 100%;
        background: color(primary-light);
        border-radius: 10px;
    }

}

.about-technologies {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 150px));
    padding-top: 30px;
    margin: 20px 0px 0px;
    list-style: none;
    overflow: hidden;

    li {
        position: relative;
        margin-bottom: 10px;
        font-size: 13px;

        &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f753";
            padding-right: 10px;
        }
    }
}


@media screen and (max-width: 1080px) {
    #about {
        padding: 0 20px;
    }
}

@media screen and (max-width: 786px) {
    .about-container {
        display: inline-block;
    }

    .about-img {
        margin: 60px auto 0;
    }

    .about-content {
        padding: 30px;
    }
}

/* --------------------------Projects--------------------------------*/

#projects {
    margin: 0px auto;
    padding: 150px 0;
    max-width: 1000px;
    position: relative;
    font-family: 'Raleway';

    h3 {
        display: flex;
        align-items: center;
        -moz-box-align: center;
        width: 100%;
        font-size: 2rem;
        position: relative;
        padding: 20px;
        color: white;
    }

    a {
        text-decoration: none;
    }

    .project-cards,
    .project-cards-alt {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        margin-bottom: 150px;


    }

    .card {
        display: flex;
        flex-direction: column;
        box-shadow: 2px .8rem 1rem rgba(255, 255, 255, 0.3);
        font-family: 'Raleway';


        &:hover .background-image {
            transform: scale(1.1);
        }

    }

    .img-data {
        height: 25rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 10px;
    }

    .background-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url("/images/mhlc-home.jpg") center no-repeat;
        background-size: cover;
        z-index: -1;
        transition: transform 1s;
    }

    .publication-details {
        width: 100%;
        height: 100%;
        background: color(accent-gradient);
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1rem;
        display: grid;
        place-items: center;

        i {
            font-family: 'Raleway';
            margin-right: 1rem;

        }
    }

    .author {
        // display: grid;
        // place-items: center;
        margin-bottom: .5rem;
        font-size: 2rem;
        color: inherit;




    }

    // .date {
    //     display: block;
    // }

    .post-data {
        background-color: color(primary);
        padding: 2rem 3rem;
        position: relative;
    }

    .title {
        font-size: 3rem;
        line-height: 1;

        position: relative;



        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0.5rem;
            height: 3rem;
            background: color(accent-gradient);
            border-radius: 2rem;
        }

    }

    .title-first-word {
        margin-left: 1rem;
    }

    .subtitle {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 400;
        color: #a2a2a2;
        margin: 1rem 0 1.5rem 0;
    }


    .description {
        position: relative;

    }


    .cta {
        text-align: right;
        font-weight: bold;
        margin-top: 1rem;

        a {
            background: color(accent-gradient);
            -webkit-background-clip: text;
            color: transparent;
            position: relative;


            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: color(accent-gradient);
                transform: scaleX(0);

            }

            &:hover:before {
                transform: scale(1);
            }

            &:after {
                content: '\f061';
                font-family: 'FontAwesome';
                margin-left: -10px;
                opacity: 0;
                vertical-align: middle;
                transition: margin 0.3s, opacity 0.3s;
            }

            &:hover:after {
                margin-left: 5px;
                opacity: 1;
                text-decoration: none;
            }


        }

    }

    @media screen and (min-width: 600px) {
        .card {
            flex-direction: row;
            max-width: 75rem;

            &:hover .publication-details {
                transform: translateX(0);

            }

            &:hover .author {
                transform: translateY(0);
                opacity: 1;
            }

            &:hover .date {
                transform: translateY(0);
                opacity: 1;
            }


        }

        .img-data {
            flex-basis: 60%;
            height: unset;
        }

        .author {
            transform: translateY(-10rem);
            opacity: 0;
            transition: all 0.5s;

            &:after {
                content: '\f135';
                font-family: 'FontAwesome';
                margin-left: 20px;
                opacity: 0;
                vertical-align: middle;
                transition: margin 0.3s, opacity 0.3s;
            }

            &:hover:after {
                margin-left: 5px;
                opacity: 1;
                text-decoration: none;
            }
        }

        .date {
            transform: translateY(3rem);
            opacity: 0;
            transition: all 0.5s 0.3s;
        }

        .post-data {
            flex-basis: 50%;
        }

        .publication-details {
            transform: translateX(-100%);
            transition: transform .5s;
        }

        .post-data {
            flex-basis: 60%;

            &::before {
                content: '';
                width: 3rem;
                height: 100%;
                background-color: color(primary);
                position: absolute;
                top: 0;
                left: -1.25rem;
                z-index: 10;
                transform: skewX(5deg);


            }
        }



        .project-cards-alt {
            .img-data {
                order: 2;
            }

            .publication-details {
                transform: translateX(100%);
                transition: transform .5s;
            }

            

            .post-data {
                &::before {
                    content: '';
                    width: 0rem;
                }

                &::after {
                    content: '';
                    width: 3rem;
                    height: 100%;
                    background-color: color(primary);
                    position: absolute;
                    top: 0;
                    right: -1.25rem;
                    z-index: 10;
                    transform: skewX(5deg);

                }
            }


        }

    }





}