/* Colour palette from:  
https://coolors.co/1f4068-a9def9-8d818c-ffd23f-1cfeba
https://coolors.co/484041-434371-a9def9-70ee9c-b5f44a */


/* Global settings */

body {
    font-family: "Roboto", sans-serif;
    color: #ebecf1;
    background-color: #1f4068;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    color: #C6E9FB;
}

h5 {
    line-height: 1.5;
}

/* Nav bar */

.navbar {
    padding: 0 0 4.5rem;
    color: #ebecf1;
}

.nav-item {
    padding: 0 12px;
}

.navbar-nav a {
    color: white !important;
}

.navbar-nav a:hover {
    color: #1CFEBA !important;
}

.navbar-nav li button {
    color: #1CFEBA;
    border: 1px solid #1CFEBA;
}

.navbar-nav li button:hover {
    color: #000;
    background-color: #1CFEBA;
}

.nav-link {
    font-size: 1.1rem;

}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}


/* fix this */
#menu-items {
    color: #1CFEBA;
}


/* Landing section */

.container-fluid {
    padding: 3% 15% 0;
}

#section-landing {
    background-color: #1f4068;
}

.landing-btn {
    margin: 5% 3% 5% 0;
    color: #1CFEBA;
    border: 2px solid #1CFEBA;
}

.landing-btn:hover {
    color: #000;
    background-color: #1CFEBA;
}

#title-section {
    padding: 5% 10% 15%;
}

#title-section h5 {
    padding-right: 45%;
}

#landing-tagline {
    color: #8DD4F7;
}

/* Landing Image */