/* Colour palette from:  https://coolors.co/1f4068-a9def9-8d818c-ffd23f-1cfeba */


/* Global settings */

body{
    font-family: "Roboto", sans-serif;
    color: #ebecf1;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem; 
    color: #A9DEF9;
}

h5{
    line-height: 1.5;
}

/* Nav bar */

.navbar{
    padding: 0 0 4.5rem;
    color: #ebecf1;
}

.nav-item{
    padding: 0 12px;
}

.nav-link{
    font-size: 1.1rem;
    
}

.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 2rem;
}


/* fix this */
#menu-items{
    color: #1CFEBA;
}


/* Landing section */

.container-fluid{
    padding: 3% 15% 0;
    padding-bottom: 50%;
}

#section-landing{
    background-color: #1f4068;

}

.landing-btn{
    margin: 5% 3% 5% 0;
    color: #1CFEBA;
    border: 2px solid #1CFEBA;
}

.landing-btn:hover{
    color: #000;
    background-color: #1CFEBA;
}

#title-section{
    padding: 0 10% 0;
}

/* Landing Image */



